---
extends: default

rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  truthy: disable
  line-length:
    max: 120
    level: warning
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
